fastapi>=0.110,<0.111
uvicorn[standard]>=0.29,<1
motor>=3.4,<4
beanie>=1.25,<2
pydantic>=2.7,<3
pydantic-settings>=2.3,<3
python-dotenv>=1.0,<2
qrcode[pil] 
reportlab 
Jinja2
stripe
python-jose[cryptography]
httpx
passlib[bcrypt]
bcrypt==3.2.2
fastapi-mail